:root {
  /* COLORS */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 100%, 100%);
  --red: hsl(0, 82%, 63%);
  --grey_50: hsl(220, 38%, 97%);
  --grey_500: hsl(219, 13%, 44%);
  --blue_50: hsl(225, 100%, 96%);
  --blue_100: hsl(220, 50%, 95%);
  --blue_300: hsl(216, 47%, 78%);
  --blue_500: hsl(223, 100%, 59%);
  --blue_850: hsl(215, 27%, 32%);
  --blue_900: hsl(216, 25%, 25%);
  --blue_950: hsl(214, 24%, 23%);
  --green_100: hsl(151, 88%, 94%);
  --green_500: hsl(151, 68%, 52%);
  --purple_100: hsl(278, 100%, 95%);
  --purple_600: hsl(277, 91%, 56%);
  --orange_50: hsl(27, 100%, 96%);
  --orange_400: hsl(22, 100%, 60%);

  /* TYPOGRAPHY */
  --ff: "Rubik", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  /* TEXT PRESET 1 */
  --fs-1: 144px;
  --fs-1-mobile: 88px;
  --lh-1: 1;
  --ls-1: 0;

  /* TEXT PRESET 2 */
  --fs-2: 64px;
  --fs-2-mobile: 40px;
  --lh-2: 1;
  --ls-2: 0;

  /* TEXT PRESET 3 */
  --fs-3: 36px;
  --fs-3-mobile: 20px;
  --lh-3: 1.2;
  --ls-3: 0;

  /* TEXT PRESET 4 */
  --fs-4: 28px;
  --fs-4-mobile: 18px;
  --lh-4: 1;
  --ls-4: 0;

  /* TEXT PRESET 5 */
  --fs-5: 24px;
  --fs-5-mobile: 14px;
  --lh-5: 1.5;
  --ls-5: 0;

  /* TEXT PRESET 6 */
  --fs-6: 20px;
  --lh-6: 1.5;
  --ls-6: 0;

  /* Spacing Scale from Guide */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1600: 128px;
  --spacing-1800: 144px;
  --spacing-2300: 184px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../assets/images/pattern-background-desktop-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--grey_50);
}
main {
  width: 100%;
  max-width: 1157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:var(--spacing-800);
}
/* Quiz-menu header start*/
.app-header{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.active-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
}
.active-category-img{
  width: 56px;
 background-color: var(--purple_100);
  padding: var(--spacing-100);
  border-radius: var(--spacing-100);
}
.category-text {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-medium);
  color: var(--blue_900);
}

.theme-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);

}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  display: none;
}
.theme-toggle-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  justify-content: flex-end;
}


.switch {
  display: flex;
  align-items: center;
  width: 48px;
  height: 28px;
  background-color: var(--purple_600);
  border-radius: 999px;
  padding: 4px;
  cursor: pointer;
}

.slider {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#theme-toggle:checked + .slider {
  transform: translateX(20px);
}

.v-stack-lg {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}
.v-stack-lg h1 {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  font-weight: var(--fw-light);
  color: var(--blue_900);
}
.v-stack-lg span {
  font-weight: var(--fw-medium);
}
.v-stack-lg p {
  font-size: var(--fs-6);
  line-height: var(--lh-6);
  font-weight: var(--fw-light);
  color: var(--grey_500);
}
/* Quiz-menu header end*/

/* Quiz menu start */
.hidden {
  display: none!important;
}
.screen-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-1600);
}
.quiz-menu{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-400);
  padding: var(--spacing-300);
  background-color: var(--white);
  border: 0;
  border-radius: var(--spacing-300);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn img {
  padding: var(--spacing-100);
  border-radius: var(--spacing-100);
}
.html-icon {
  background-color: var(--orange_50);
}
.css-icon {
  background-color: var(--green_100);
}
.js-icon {
  background-color: var(--blue_50);
}
.accessibility-icon {
  background-color: var(--purple_100);
}
.btnText {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  color: var(--blue_900);
}

@media (max-width: 1144px) {
  main {
    padding: var(--spacing-800);
    width: 100%;
    gap: var(--spacing-800);
  }
  .screen-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacing-800);
  }
  .v-stack-lg {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }
  .v-stack-lg h1 {
    font-size: var(--fs-2-mobile);
    line-height: var(--lh-2);
  }
  .quiz-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
  }
  .btn {
    gap: var(--spacing-300);
    padding: var(--spacing-200);
  }
  .btn img {
    width: 40px;
  }
  .btnText {
    font-size: var(--fs-4-mobile);
  }
}

@media (max-width: 767px) {
  main {
    padding: var(--spacing-300);
    width: 100%;
    gap: var(--spacing-300);
  }
  .screen-layout  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacing-300);
  }
  .v-stack-lg {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    text-align: center;
  }
  .v-stack-lg h1 {
    font-size: var(--fs-2-mobile);
    line-height: var(--lh-2);
  }
  .quiz-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
  }
  .btn {
    gap: var(--spacing-200);
    padding: var(--spacing-200);
  }
  .btn img {
    width: 40px;
  }
  .btnText {
    font-size: var(--fs-4-mobile);
  }
}
/* Quiz menu end  */

/* Quiz question start */
.question-info{ 
  font-size: var(--fs-6);
  line-height: var(--lh-6);
  font-weight: var(--fw-light);
  color: var(--grey_500);
  gap: var(--spacing-300);
}
.question-count{
  font-style: italic;
}
.question-info p{
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  font-weight: var(--fw-medium);
  color: var(--blue_900);
  margin-bottom:var(--spacing-2300);
}
/* Quiz question end */

/* Quiz completed start */
.score-screen {
  display: none;
}
.hidden-input{
  width: 100%;
}
/* score */
/* Quiz completed end */
